<h1><%= @recipe.title %></h1>
<section>
  <p><%= @recipe.category.title %></p><br>
  <p><%= @recipe.description %></p><br>
  <h5>Ingredients : </h5><br>
  <ul><% @recipe.quantities.each do |quantity| %>
  <li><%= "Amount : #{quantity.amount}" %>
  <%= link_to "#{quantity.ingredient.title}", ingredient_path(quantity.ingredient.id) %></li>
  <% end %>
  </ul>
  <p><%= @recipe.method %></p><br>
  <img src="<%= @recipe.image %>" width="320">
</section><br>
<%= link_to("Edit #{@recipe.title}", edit_recipe_path(@recipe)) %><br>
<%= button_to("Delete #{@recipe.title} ?", recipe_path(@recipe), method: :delete, data: {confirm: 'Delete them? Are you sure?!'}) %>